<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Project 2</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/main.css" />
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/favicon.png" alt="app logo" /></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a id="buyPremium" href="/buyPremium">Premium</a></div>
    <div class="navlink"><a id="changePassword" href="/changePassword">Change Password</a></div>
  </nav>

  <div id="titleContainer"><img id="title" src="/assets/img/titleBackground2.png" alt="Guess that Drawing!"
      draggable="false" /></div>

  <section id="app">
    <section id="users" hidden></section>
    <div id="canvasDiv">
      <section id="canvasControls"></section>
      <canvas id="myCanvas" width="500" height="500" style="border: 1px solid #000000;" hidden>
      </canvas>
      <section id="saveControls"></section>
    </div>
    <section id="userControls"></section>
  </section>

  <section id="playControls"></section>

  <div id="errorDiv" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
    <input type="submit" id="hide" class="formSubmit" value="OK" />
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/appBundle.js"></script>
</body>

</html>