<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Project 2</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/main.css" />
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/favicon.png" alt="app logo" />
      <h2 id="navTitle">Draw Anything!</h2>
    </a>

    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>

  <div id="titleContainer">
    <img id="title" src="/assets/img/titleBackground2.png" alt="Draw Anything!" draggable="false" />
    <h1>Play with a group of friends or join with strangers and Draw Anything together!</h1>
  </div>

  <section id="content">

  </section>

  <div id="errorDiv" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
    <input type="submit" id="hide" class="formSubmit" value="OK" />
  </div>

  <script src="/assets/loginBundle.js"></script>
</body>

</html>